In [ ]:
"""
날짜 : 2023-01-10
이름 : 박진휘
내용 : 파이썬 함수 실습하기
"""

In [2]:
#함수
def f(x):
    y = 2 * x + 3
    return y

rs1 = f(1)
rs2 = f(2)
rs3 = f(3)

print(rs1)
print(rs2)
print(rs3)

5
7
9

In [8]:
#함수타입
def type1(x, y):
    z = x + y
    return z

def type2(dataset):
    tot = 0
    for data in dataset:
        tot += data
    print(tot)

def type3():
    dataset = [n for n in range(11)]
    tot = 0
    for k in dataset:
        tot += k
    return tot

rs1 = type1(1, 2)
rs2 = type1('hello', 'world')
print(rs1)
print(rs2)

dataset1 = [1,2,3,4,5]
dataset2 = (1,2,3,4,5)
type2(dataset1)
type2(dataset2)

rs3 = type3()
print(rs3)

3
helloworld
15
15
55

In [11]:
#디폴트 매개변수
def hello(name='홍길동', age=20):
    print('name : ', name)
    print('age : ', age)

print(hello())
print(hello('김유신'))
print(hello('김춘추', 24))

name :  홍길동
age :  20
None
name :  김유신
age :  20
None
name :  김춘추
age :  24
None

In [14]:
#가변 매개변수
def total(*item):
    tot = 0
    for i in item:
        tot += i
    return tot
print(total(1,2,3,4,5,6,7,8,9,10))
print(total(1,2,3,4,5))

SyntaxError: invalid syntax (716441768.py, line 2)

In [16]:
#하나 이상 리턴값을 가지는 함수
def sumMulti(x, y):
    y1 = x + y
    y2 = x * y
    
    return y1, y2

r1, r2 = sumMulti(1, 2)
print(r1, r2)

3 2

In [19]:
#변수에 저장하는 함수
def plus(x, y):
    return x + y
def minus(x, y):
    return x - y

var1 = plus
var2 = minus

r1 = var1(1,2)
r2 = var2(1,2)

print(r1, r2)

defs = [plus, minus]

r3 = defs[0](1,2)
r4 = defs[1](1,2)

print(r3)
print(r4)

3 -1
3
-1

In [20]:
#람다함수
lamb1 = lambda x, y : x + y
lamb2 = lambda x, y : x - y

r1 = lamb1(1,2)
r2 = lamb2(1,2)

print(r1, r2)

3 -1